.content {
    width: 90%;
    height: 100vh;
    margin: auto;
}

.name {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 35px;
    text-align: left;
    padding: 10px 0;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact {
    padding: 10px 5px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}