.user, a {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.user:hover {
    border-bottom: 1px solid #cecdcd;
    /*box-shadow: 10px 5px 5px #e7e7e7;*/
}


