.header {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 1px;
    background-color: black;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

a .logo {
    color: white;
    font-weight: 700;
    font-size: 28px;
    margin-top: 0;
}



