.header {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 1px;
    background-color: black;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    height: 70px;
}

a .logo {
    color: white;
    font-weight: 700;
    font-size: 28px;
    margin-top: 0;
}

.buttons {
    display: flex;
}

.header_button {
    line-height: 39px;
    margin: 10px 10px 0 0;
    background-color: white;
    font-weight: bold;
    border: 1px solid;
    padding: 0 10px;
    cursor: pointer;
    height: 40px;
}

