body {
  width: 1116px;
  margin: 0 auto;
  padding: 0;
}

.App {
  text-align: center;
}

button {
  background-color: white;
  font-weight: bold;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

.button {
  display: inline-block;
}



